# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Node modules if you decide to use npm in the future
node_modules/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project 